<!DOCTYPE html>
<html lang="en">
<head>
<style>

		h3{
		height:50px;
		top:0;
		width: 998px;
		font-family: monospace;
		text-align: center;
		position: fixed;
		margin-left: -499px;
		left: 50%;
		
	}
</style>
 <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <title>Paket Data</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.2.1/dist/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>


<nav class="navbar fixed-top navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="container-fluid">
  <h3>Paket Data</h3>
</div>
  <div class="collapse navbar-collapse" id="navbarToggler">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="/operator">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/operator/transfer">Transfer</a>
      </li>
      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
            Product
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item active" href="/operator/paketdata">Paket Data  <span class="sr-only">(current)</span></a></li>
            <li><a class="dropdown-item" href="/operator/tiketpesawat">Tiket Pesawat</a></li>
            <li><a class="dropdown-item" href="/operator/bayartagihan">Bayar Tagihan</a></li>
          </ul>
        </li>
       <li class="nav-item">
        <a class="nav-link" href="#">Commerce</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="javascript: document.logoutForm.submit()">Log Out</a>
        <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
        	<input hidden type="submit" value="Sign Out"/>
        </form>
      </li>
    </ul>
  </div>
</nav>


<div class="modal fade" id="invoicePaket" tabindex="-1" role="dialog" aria-labelledby="invoicePaketLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="invoicePaketTitle">Invoice Pembelian Paket</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" >
        <div class="container fluid" >
         <div class="row">
         <div class="col-md-10 mx-auto">
         <form>
			<div class="form-group row" >
			<div class="col-sm-6">
					<label class="control-label" style="padding-top: 50px;">Paket Provider : </label>
				</div>
				<div class="col-sm-6">
					<label class="control-label" id="namaProvider" style="padding-top: 50px;"></label>
				</div>
				</div>
				<div class="form-group row">
				<div class="col-sm-6">
					<label class="control-label">Jenis Paket : </label>
				</div>
				<div class="col-sm-6">
					<label class="control-label" id="jenisPaket"  ></label>
				</div>
				</div>
				<div class="form-group row" >
			<div class="col-sm-6">
					<label class="control-label" >Harga : </label>
				</div>
				<div class="col-sm-6">
					<label class="control-label" id="hargaPaket" ></label>
				</div>
				</div>
				<div class="form-group row">
				<div class="col-sm-6">
					<label class="control-label">No Rekening : </label>
				</div>
				<div class="col-sm-6">
					<label class="control-label" id="noRekPembeli"  ></label>
				</div>
				</div>
				<div class="form-group row">
				<div class="col-sm-6">
					<label class="control-label">No Telp : </label>
				</div>
				<div class="col-sm-6">
					<label class="control-label" id="noTelp"  ></label>
				</div>
				</div>
			</form>
				</div>
				</div>
			</div>
      </div>
      <div class="modal-footer">
      	<button type="button" class="btn btn-cancel" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" id="save">Submit</button>
      </div>
    </div>
  </div>
</div>

	
	<!-- form pembelian -->
	<form method="post" th:action="@{/operator/paketdata}" th:object="${paket}" >
	<div class="container">
	<div class="row d-flex justify-content-center my-5 py-4">
	<div class="col-10">
	<div class="form-group">
	<div class="alert alert-primary" role="alert" th:text="${success}" th:if="${success}"></div>
	<div class="alert alert-danger" role="alert" th:text="${fail}" th:if="${fail}"></div>
      <label for="inputState">Provider</label>
      <select id="providerOption" class="form-control" th:field="*{namaProvider}">
		<option value="0">Pilih Provider</option>
		<th:block th:each="prov : ${providers}">
			<option
			th:text="${prov.name}"
			th:value="${prov.name}"></option>
		</th:block>
      </select>
    </div>
	<div class="form-group">
      <label for="inputState">Paket Data</label>
      <select id="paketOption" class="form-control" th:field="*{jenisPaket}">
        <option value="0">Pilih Paket Data</option>
      </select>
    </div>
    <div class="form-group">
      <label for="inputState">Harga</label>
      <input type="text" class="form-control" id="hargaText" th:field="*{price}" readonly>
    </div>
    <div class="form-group">
      <label for="inputState">No Rekening</label>
      <input type="text" class="form-control" id="norek" th:field="*{noRek}">
    </div>
    <div class="form-group">
      <label for="inputState">No Telpon</label>
      <input type="text" class="form-control" id="notelp" th:field="*{phoneNum}">
    </div>
	<!-- <input type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#invoicePaket" id="submit" value="Beli"/> -->
	<input type="submit" value="Beli">
	</div>
	</div>
	</div>
	</form>
  	 <!-- footer -->
	 <footer class="text-center fixed-bottom">
		  <!-- Grid container -->
		  <div class="container"></div>
		  <!-- Grid container -->
		
		  <!-- Copyright -->
		  <div class="text-center p-3 bg-light">
		    © 2023 Copyright: Kelompok 7
		  </div>
		  <!-- Copyright -->
	  </footer>
</body>

<script type="text/javascript">
	// $("#submit").click(function(){
	// 	var provider = $("#providerOption").val();
	// 	var paket = $("#paketOption").val();
	// 	var harga = $("#hargaText").val();
	// 	var norek = $("#norek").val();
	// 	var notelp = $("notelp").val();
	// 	$("#namaProvider").empty().append(provider);
	// 	$("#jenisPaket").empty().append(paket);
	// 	$("#hargaPaket").empty().append(harga);
	// 	$("#noRekPembeli").empty().append(norek);
	// 	$("#noTelp").empty().append(notelp);
	// 	$("#invoicePaket").modal("show");
	// });
</script>

<script type="text/javascript">
	// $("#save").click(function(){
	// 	var providerr = document.getElementById("namaProvider").value;
	// 	var pakett = document.getElementById("jenisPaket").value;
	// 	var hargaa = document.getElementById("hargaPaket").value;
	// 	var noRekk = document.getElementById("noRekPembeli").value;
	// 	var noTelpp = document.getElementById("noTelp").value;
	// 	$.ajax({
	// 		url: '/operator/paketdata/save',
	// 		type: 'POST',
	// 		data : {'namaProvider' : providerr, 'jenisPaket' : pakett, 'harga' : hargaa, 'noRek' : noRekk, 'phoneNum': noTelpp},
	// 		success: function(String){
	// 			alert("success");
	// 		}
	// 	})
	// });
	const provider = document.getElementById("providerOption");
	const paketOpt = document.getElementById("paketOption")
	const list = '[[${detailPaket}]]'
	const datas = JSON.parse(list.replace(/&quot;/g,'"'));
	const harga = document.getElementById("hargaText");
	provider.addEventListener('change', function (e) {
		paketOpt.innerHTML = "<option value='0'>Pilih Paket Data</option>";
		const getProvider = e.target.value;
		for(data of datas) {
			if(data["provider"] == getProvider) {
				const opt = document.createElement("option");
				opt.innerHTML = data["name"]
				opt.setAttribute("value", data["name"]);
				paketOpt.appendChild(opt);
			}
		}
	 })

	 paketOpt.addEventListener('change', function(e) {
		const getPaket = e.target.value;
		for(data of datas) {
			if(getPaket == data["name"]) {
				console.log(data["price"])
				harga.value = data["price"]
			}
		}
	 })

</script>
</html>

